__pycache__/
**/.vscode
wandb/
.pytest_cache/
**.pt

autoencoders/*

!autoencoders/README.md
!autoencoders/fix_ae_device.ipynb
!autoencoders/utils/
!autoencoders/gen_identity_ae_folders.ipynb
!autoencoders/download_saes.sh

# Ignore all directories under analysis/
analysis/*/

# But include all files directly under analysis/
!analysis/*.*

models/*
!models/meta.pkl

data.pkl

.*.swp
.*.swo
circuits/processed_results/*
circuits/othello_sae_trainer.py
circuits/run_othello_sae_trainer.sh
circuits/run_chess_sae_trainer.sh
circuits/nohup.out
circuits/chess_sae_trainer.py
circuits/full_pipeline_can*
circuits/*.pkl