__pycache__/
**/.vscode
wandb/
.pytest_cache/
**.pt

autoencoders/*

!autoencoders/README.md
!autoencoders/fix_ae_device.ipynb
!autoencoders/utils/
!autoencoders/gen_identity_ae_folders.ipynb
!autoencoders/download_saes.sh
!autoencoders/chess_mlp_acts_identity_aes/
!autoencoders/othello_mlp_acts_identity_aes/

# Un-ignore directories but ignore their contents by default
!autoencoders/testing_othello/
autoencoders/testing_othello/*
!autoencoders/testing_othello/trainer0/
autoencoders/testing_othello/trainer0/*
!autoencoders/testing_othello/trainer0/ae.pt
!autoencoders/testing_othello/trainer0/config.json

!autoencoders/testing_chess/
autoencoders/testing_chess/*
!autoencoders/testing_chess/trainer4/
autoencoders/testing_chess/trainer4/*
!autoencoders/testing_chess/trainer4/ae.pt
!autoencoders/testing_chess/trainer4/config.json

# Ignore all directories under analysis/
analysis/*/

# But include all files directly under analysis/
!analysis/*.*

models/*
!models/meta.pkl

data.pkl

.*.swp
.*.swo
circuits/processed_results/*
circuits/othello_sae_trainer.py
circuits/run_othello_sae_trainer.sh
circuits/run_chess_sae_trainer.sh
circuits/nohup.out
circuits/chess_sae_trainer.py
circuits/full_pipeline_can*
circuits/*.pkl