__pycache__/
**/.vscode
wandb/
.pytest_cache/
**.pt

autoencoders/*

!autoencoders/README.md
!autoencoders/utils/

# Ignore all directories under analysis/
analysis/*/

# But include all files directly under analysis/
!analysis/*.*

models/*
!models/meta.pkl

data.pkl

.*.swp
.*.swo
